@model PaginatedList<Product>

@{
    ViewData["Title"] = "產品列表";
}

<h1 class="text-center">產品列表</h1>
<p>
    <a asp-action="Create" class="btn btn-danger">創建產品</a>
</p>

<form asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search">
        <div class="input-group-append">
            <input type="submit" class="btn btn-primary" value="搜尋">
            <a asp-action="Index" class="btn btn-secondary my-2 my-sm-0">返回預設顯示</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CoverImagePath)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["PriceSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].Price)</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["BrandSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].ProductBrand.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductCategory.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.CoverImagePath
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.ProductBrand.Name
                </td>
                <td>
                    @item.ProductCategory.Name
                </td>
                <td>
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                        @{
                            string imgPath = item.CoverImagePath == "need to update" ? "/img/example.jpg" : item.CoverImagePath;
                            <img class="rounded float-end" src="@imgPath" height="100">
                        }
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    上一頁
</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
    string btnClass = i == Model.PageIndex ? "btn-primary disabled" : "btn-primary";
    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@i"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @btnClass">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    下一頁
</a>